<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!--<startup>
    <supportedRuntime
      version="v4.0"
      sku=".NETFramework,Version=v4.6.1" />
  </startup>-->


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="M.Logging.NLog" />
    </extensions>
    <targets>
      <target xsi:type="File"
              name="FileLogger"
              fileName="../logs/NLogExample.log"
              layout="${uppercase:${level}}|${longdate}|${logger}|${message}"
              archiveAboveSize="5242880"
              maxArchiveFiles="1000"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd"
              archiveFileName="../logs/{##########}_NLogExample.log" />
      <target xsi:type="ColoredConsole"
              name="ConsoleLogger"
              layout="${uppercase:${level}}|${longdate}|${logger}|${message}" />
      <target xsi:type="CustomMemoryLogger"
              name="CustomMemoryLogger"
              layout="${uppercase:${level}}|${longdate}|${logger}|${message}" />
    </targets>

    <rules>
      <logger name="*"
              minlevel="Trace"
              writeTo="FileLogger" />
      <logger name="*"
              minlevel="Trace"
              writeTo="ConsoleLogger" />
      <logger name="*"
              minlevel="Trace"
              writeTo="CustomMemoryLogger" />
    </rules>
  </nlog>

</configuration>